<li *ngFor="let item of data.by_tenant" >
	abc
</li>
<pre>
  dashboard works!

dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!


  
</pre>
