<li *ngFor="let item of by_tenant" >
	abc
</li>
<pre>
  dashboard works!

dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!
dashboard works!


  
</pre>
