
<div id = "{{tableData.id}}">
	<div class="table_title">
			{{tableData.title}}
	</div>
	<table  [ngClass] = "tableStyle">
			<thead>
		        <tr>
		        	<th *ngFor="let label of tableData.header_labels; let i = index"
		        		[ngClass] = "columnStyle[i]"
		        	>{{label}}</th>
		        </tr>
	    	</thead>
	    	<tbody>
			<tr  *ngFor="let row of tableData.data" >
				<td *ngFor="let k of tableData.header_keys">{{row[k]}}</td>
			</tr>
			</tbody>
	</table>


<!-- <table>
  <thead>
  	<tr>
  	<th class="col-xs-1" style="background-color: red">aaa</th>
  	<th class="col-xs-3" style="background-color: green">bbb</th>
  	<th class="col-xs-8" style="background-color: blue">bbb</th>
  	</tr>
  </thead>
  <tbody>
			<tr>
				<td>dataA</td>
				<td>dataB</td>
				<td>dataC</td>
			</tr>
  </tbody>

</table> -->

</div>