<div class="container col-xs-6" >
    <h1>User Form</h1>
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required
        	 [(ngModel)]="user.email" name="email"
        >

      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
        	[(ngModel)]="user.firstName" name="firstName"
        >
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
        	[(ngModel)]="user.lastName" name="lastName"
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
			[(ngModel)]="user.password" name="password"
        >
      </div>

      <div class="form-group">
  		<label for="role">Role</label>
  		<select class="form-control" id="role" required>
    	<option *ngFor="let r of roles" [value]="r">{{r}}</option>
  		</select>
	  </div>


      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>